* {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, a, p, ul {
    margin: 0;
    font-family: "Mont";
    color: #565656;
}

body {
    background-color: #f4f4f4;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

h1 {
    font-size: 70px;
}


h2 {
    font-size: 30px;
    font-weight: 200;
}

